<div class="navbar-scroll-container" myPerfectScrollbar [myPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column">

        <div class="avatar-container" [ngClass]="myConfig.layout.navbar.background">
            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
        </div>
        <div class="h3 username">David Williams</div>
        <div class="h5 email hint-text mt-8">Art Director</div>

    </div>

    <div class="navbar-content">
        <my-navigation layout="vertical"></my-navigation>
    </div>

</div>
